[importlinter]
root_packages =
    aegis_core
    aegis_server
    aegis_cli
    aegis_pack_pii
    aegis_pack_llm_guard
    aegis_pack_classification
    aegis_pack_residency
    aegis_pack_budgets

[importlinter:contract:packs-public-api-only]
name = Policy packs import only public aegis_core APIs
type = forbidden
source_modules =
    aegis_pack_pii
    aegis_pack_llm_guard
    aegis_pack_classification
    aegis_pack_residency
    aegis_pack_budgets
forbidden_modules =
    aegis_server
    aegis_cli
    aegis_core.config
    aegis_core.secrets
    aegis_core.registry
    aegis_core.hooks
